.teacher_list_container{
    width:1200px;
    height: 800px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    transition: 0.4s;
    /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
    flex-shrink: 0;
    margin: 0 auto;
    background-color: aliceblue;
}

.teacher_list_title{
    display: flex;
    justify-content: end;
    margin-right: 100px;
    height: 100px;
    padding-top: 50px;
}

#teacher_list_select{
    height: 40px;
}

#teacher_search{
    height: 40px;
   margin-left: 30px;
}

.teacher_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    
    
}

.teacher_card {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    box-shadow: 10px 10px 10px -5px rgba(25, 42, 70, 0.2);
    border-radius: 8px;
    margin: 0 10px;
    transition: 0.4s;
    /* IE11 에서는 flex 설정시, 디폴트로 flex 아이템들에 고정 너비를 무시 */
    flex-shrink: 0;
    font-size: 1.1rem;
}

.teacher_img {
    max-width: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.teacher_description {
    width: 100%;
}

.teacher_description_top {
    display: flex;
    justify-content: space-between;
    margin: 3px 9px;
    height: 26px;
    align-items: center;

}
.teacher_description_mid{
    display: flex;
    justify-content: space-between;
    margin: 3px 9px;
    height: 26px;
    align-items: center;
}

.teacher_description_bottom{
    height: 26px;
    margin: 10px;
    font-size: 1rem;
}

.chatting_button {
    height: 26px;
    
}

.teacher_name {}